* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    min-width: 1200px;
}

.debug * {
    border: 3px dashed #000;

}

/* search bar*/
.debug #logo {
    background-color: red;
    width: 140px;
    height: 48px;
}

.debug #search_bar {
    background-color: red;
    width: 370px;
    height: px;
}

.debub button {
    background-color: red;
    width: 87px;
    height: 55px;
}

/* /search bar debug*/

.debug #titolo {
    background-color: red;
    width: 500px;
    height: 100px;
}

.debug #intestazione {
    background-color: rgb(12, 229, 99);
    padding-top: 5px;
    width: 769px;
    height: 200px;
}

.debug #action {
    background-color: red;
    width: 616px;
    height: 107px;
}

/*jumbotron debug*/

.debug #img1 {
    background-color: palevioletred;
    width: 60%;
    height: 300px;
}

.debug #intestazione1 {
    background-color: black;
    width: 30%;
    height: 300px;
}

/* debug section1*/

.debug #intestazione2 {
    background-color: black;
    width: 30%;
    height: 300px;
}

.debug #img2 {
    background-color: palevioletred;
    width: 60%;
    height: 300px;
}

/* debug section2*/

.debug #img3 {
    background-color: palevioletred;
    width: 60%;
    height: 300px;
}

.debug #intestazione3 {
    background-color: black;
    width: 30%;
    height: 300px;
}

/* fine debug main*/

/*inizio debug footer*/

.debug #aiuto {
    background-color: black;
    width: 20%;
    height: 400px;
}

.debug #prodotto {
    background-color: black;
    width: 20%;
    height: 400px;
}

.debub #compagnia {
    background-color: black;
    width: 20%;
    height: 400px;

}

.debug #risorse {
    background-color: black;
    width: 20%;
    height: 400px;
}

.debug #norme {
    background-color: black;
    width: 20%;
    height: 400px;
}

.debug #discord {
    background-color: black;
    width: 5%;
    height: 100px;
}

/*fine footer*/

/*header*/

header {

    background-color: #3161e0;
    padding-top: 20px;

}

.conteiner {
    margin: auto;

}

.d-flex {
    display: flex;
}

/*inizio searh bar*/

#search {
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

#logo {
    width: 142px;
}

#search_bar {
    width: 536px;
    color: white;
}

.btn {
    padding: 0.25rem 0.5rem; 
    border: 1px solid;
    border-radius: 0.75rem;

}

.btn-lg{
    padding: 0.5rem 0.75rem;
}

.btn-light {
    background-color: white;
    color: black;
}

.btn-black {
    background-color: black;
    color: white;
}

/* fine search bar ed header*/


.imgjumbotron {
    background-image: url(/assets/img/jumbo.png);
    background-size: cover;
}

#jumbotron {
    flex-direction: column;
    align-items: center;

}


#titolo {
    font-size: 30px;
    padding-top: 50px;
    color: white;
    padding-right: 20px;


}

#intestazione {
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 30px;
    width: 500px;
    color: white;
    padding-right: 30px;
}


#action {
    margin-right: 70px;
    margin-top: 30px;
    margin-bottom: 100px;
    justify-content: space-around;

}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.25rem 0.5rem; 
    border-radius: 0.75rem;

}

.btn-lg{
    padding: 0.5rem 0.75rem;
}

.btn-light {
    background-color: white;
    color: #000;
}
.btn-black {
    background-color: black;
    color: white;
}

/* fine prima parte main*/

/*main*/

#spiking {
    align-items: center;
    padding: 30px;
}

#imgpet {
    width: 60%;

}

#imgpet img {
    width: 100%;
}

#texspiking {
    font-size: 30px;
    padding-top: 20px;
    width: 30%;

}

/* fine prima sezione main*/

#voicechannel {
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

#texvoice {
    font-size: 35px;
    padding-top: 10px;
    width: 30%;
    ;
}

#imgvoice {
    width: 60%;
}

#imgvoice img {
    width: 100%;
}

/* fine seconda sezione main*/

#fandom {
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#imggenius {
    width: 60%;
}

#imggenius img {
    width: 100%;
}

#texcommunity {
    font-size: 35px;
    padding-top: 10px;
    width: 30%;
}

/* fine terza sezione mai*/

#meeting {
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

#texcontact {
    padding-top: 30px;
    font-size: 30px;

}

#tecnology {
    padding-left: 360px;
    padding-bottom: 50px;
}

.imgmeet {
    justify-content: center;
    width: 100%;
}

.imgmeet img {
    width: 50%;
}

#domanda {
    font-size: 30px;
    margin-left: 570px;

}

.btn {
    padding: 0.25rem 0.5rem; 
    border: 1px solid;
    border-radius: 0.75rem;

}

.btn-lg{
    padding: 0.5rem 0.75rem;
}

.btn-light {
    background-color: white;
    color: black;
}

.btn-black {
    background-color: black;
    color: white;
}

/*fine main*/

/*inizio footer*/

footer {
    background-color: #23272a;
}

#footer {
    padding: 50px;
    justify-content: space-between;
}


.violet{
    color: #7187d7;
}

.italogo {
    padding-top: 10px;
    width: 30px;
}

.italogo img{
    width: 100%;
}

#prodotto {
    color: white;
    
}

#compagnia {
    color: white;
}

#risorse{
    color: white;
}

#norme {
    color: white;
}

#pie {
    padding: 50px;
    justify-content: space-between;

}

#discord {
    margin-top: 50px;
}

.registrati {
    margin-top: 50px;
    width: 5%;
    height: 5%;
}

